<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav>
                <div style="width:100%;height:50px;" class="king-header king-header4 ">
                    <div class="king-header-inner">
                        <div class="king-header-brand">
                            <a href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav8/images/logo.png" height="30">
                            </a>
                        </div>
                        <div class="king-header-list list2">
                            <ul>
                                <li> <a href="javascript:;"><i class="glyphicon glyphicon-shopping-cart"></i></a> </li>
                                <li> <a href="javascript:;"><i class="glyphicon glyphicon-search"></i></a> </li>
                            </ul>
                        </div>
                        <div class="king-header-list list1">
                            <ul>
                                <li class="active">
                                    <a href="javascript:void(0);" class="f14">
                                        <span>首页</span>
                                    </a>
                                    <ul class="king-submenu"> </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="f14">
                                        <span>信息查询</span>
                                    </a>
                                    <ul class="king-submenu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span>高校信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span>专业信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span>录取批次线</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="f14">
                                        <span>模拟志愿</span>
                                    </a>
                                    <ul class="king-submenu"> </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="f14">
                                        <span>个人中心</span>
                                    </a>
                                    <ul class="king-submenu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span>编辑信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>退出登录</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <div id="demo1" data-ride="carousel" class="carousel slide ">
                <!-- 图片底部的切换按钮 -->
                <!--必须有data-target="#demo1"，否则控制无效-->
                <ol class="carousel-indicators">
                    <li data-target="#demo1" class="" data-slide-to="0"></li>
                    <li data-target="#demo1" data-slide-to="1" class=""></li>
                    <li data-target="#demo1" data-slide-to="2" class="active"></li>
                    <li data-target="#demo1" data-slide-to="3" class=""></li>
                </ol>
                <!-- 图片列表,如需添加文字说明，在item里加上carousel-caption就可以 -->
                <div class="carousel-inner" role="listbox">
                    <!-- 必须有一个item加上active-->
                    <div class="item">
                        <img alt="" src="components/carousel1/images/demo1.jpg">
                        <div class="carousel-caption">
                            <h3>文字一</h3>
                            <p>文字二</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="components/carousel1/images/demo2.jpg">
                        <div class="carousel-caption">
                            <h3>文字er</h3>
                            <p>文字二</p>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="" src="components/carousel1/images/demo2.jpg">
                        <div class="carousel-caption">
                            <h3>文字er</h3>
                            <p>文字三</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="components/carousel1/images/demo2.jpg">
                        <div class="carousel-caption">
                            <h3>文字er</h3>
                            <p>文字四</p>
                        </div>
                    </div>
                </div>
                <!--左右的切换按钮-->
                <!--必须有data-target="#demo1"，否则控制无效-->
                <a class="left carousel-control" href="#demo1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一张</span>
                </a>
                <a class="right carousel-control" href="#demo1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一张</span>
                </a>
            </div>
            <!-- 设置面板样式一Start -->
            <!-- 设置面板样式一End -->
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel king-panel1 mb0  ">
                            <div class="panel-heading king-panel-head1 king-panel-top1">
                                <h3 class="panel-title">高校推荐</h3>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid mb0 ">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid m5 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel king-panel1 mb0  ">
                            <div class="panel-heading king-panel-head1 king-panel-top1">
                                <h3 class="panel-title">志愿推荐</h3>
                            </div>
                            <div class="panel-body">
                                <div class="king-pearls king-pearls king-justified-pearls">
                                    <div class="king-pearl done">
                                        <span class="king-pearl-number ">1</span>
                                        <span class="king-pearl-title ">输入考试信息</span>
                                    </div>
                                    <div class="king-pearl">
                                        <span class="king-pearl-number ">2</span>
                                        <span class="king-pearl-title ">高校性质优先级选择</span>
                                    </div>
                                    <div class="king-pearl">
                                        <span class="king-pearl-number ">3</span>
                                        <span class="king-pearl-title ">志愿推荐个数选择</span>
                                    </div>
                                </div>
                                <!-- 设置面板Start -->
                                <!-- 设置面板End -->
                                <div class="container-fluid mb0 ">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">省份：</label>
                                                    <div class="col-sm-9">
                                                        <select name="" id="" class="form-control bk-valign-top">
                                                            <option value="选择项1">选择项1</option>
                                                            <option value="选择项2">选择项2</option>
                                                            <option value="选择项3">选择项3</option>
                                                            <option value="选择项4">选择项4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="control-label col-sm-3 bk-lh30 pt0">分科：</label>
                                                    <div class="col-sm-9">
                                                        <div class="radio pt0">
                                                            <label class="mr10">
                                                                <input type="radio" name="optionsRadios" id="" class="bk-top5" value="文科">
                                                                <span class="bk-lh30">文科</span>
                                                            </label>
                                                            <label class="mr10">
                                                                <input type="radio" name="optionsRadios" id="" class="bk-top5" value="理科">
                                                                <span class="bk-lh30">理科</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                            <form class="form-horizontal"> 
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">分数：</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control bk-valign-top" id="" placeholder="提示信息"> </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid mb0 ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <select name="" id="" class="form-control bk-valign-top">
                                                            <option value="选择项1">选择项1</option>
                                                            <option value="选择项2">选择项2</option>
                                                            <option value="选择项3">选择项3</option>
                                                            <option value="选择项4">选择项4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-3">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <select name="" id="" class="form-control bk-valign-top">
                                                            <option value="选择项1">选择项1</option>
                                                            <option value="选择项2">选择项2</option>
                                                            <option value="选择项3">选择项3</option>
                                                            <option value="选择项4">选择项4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-3">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <select name="" id="" class="form-control bk-valign-top">
                                                            <option value="选择项1">选择项1</option>
                                                            <option value="选择项2">选择项2</option>
                                                            <option value="选择项3">选择项3</option>
                                                            <option value="选择项4">选择项4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-3">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <select name="" id="" class="form-control bk-valign-top">
                                                            <option value="选择项1">选择项1</option>
                                                            <option value="选择项2">选择项2</option>
                                                            <option value="选择项3">选择项3</option>
                                                            <option value="选择项4">选择项4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid mb0 ">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control bk-valign-top" id="" placeholder="提示信息"> </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control bk-valign-top" id="" placeholder="提示信息"> </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                            <form class="form-horizontal">
                                                <div class="form-group clearfix ">
                                                    <label class="col-sm-3 control-label bk-lh30 pt0">参数：</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control bk-valign-top" id="" placeholder="提示信息"> </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-horizontal">
                <section>
                    <div class="form-group clearfix">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="bk-horizontal-line"></div>
                        </div>
                    </div>
                </section>
            </form>
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel king-panel1 mb0  ">
                            <div class="panel-heading king-panel-head1 king-panel-top1">
                                <h3 class="panel-title">高校信息</h3>
                            </div>
                            <div class="panel-body">
                                <img class=" " src="https://magicbox.bk.tencent.com/static_api/v3/components/image1/images/1.jpg"> </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel king-panel1 mb0  ">
                            <div class="panel-heading king-panel-head1 king-panel-top1">
                                <h3 class="panel-title">专业信息</h3>
                            </div>
                            <div class="panel-body">
                                <img class=" " src="https://magicbox.bk.tencent.com/static_api/v3/components/image1/images/1.jpg"> </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel king-panel1 mb0  ">
                            <div class="panel-heading king-panel-head1 king-panel-top1">
                                <h3 class="panel-title">分数线查询</h3>
                            </div>
                            <div class="panel-body">
                                <img class=" " src="https://magicbox.bk.tencent.com/static_api/v3/components/image1/images/1.jpg"> </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel king-panel1 mb0  ">
                            <div class="panel-heading king-panel-head1 king-panel-top1">
                                <h3 class="panel-title">招生计划</h3>
                            </div>
                            <div class="panel-body">
                                <img class=" " src="https://magicbox.bk.tencent.com/static_api/v3/components/image1/images/1.jpg"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel()
    </script>
</body>

</html>